
@{
    ViewBag.Title = "ShoppingCar";
}

@using Models;
@model List<ShopCar>
@{
    var price = "price";
}
<h2>购物车</h2>
<table class="table table-bordered table-hover">
    <thead class="bg-warning">
        <tr>
            <td><input type="checkbox" onclick="AllCheck()" />全选</td>
            <td>商品</td>
            <td>单价</td>
            <td>购买数量</td>
            <td>小计</td>
            <td>操作</td>
        </tr>
    </thead>
    @foreach (var item in Model.GroupBy(p => p.GoodID))
    {
        var count = Model.Where(p => p.GoodID == item.Key).Count();
        var firstGood = item.First();
        <tr>
            <td width="10%"><input type="checkbox" GoodID="@firstGood.GoodID" name="GoodID" /></td>
            <td width="50%"><img src="~/Content/Good/@firstGood.Good.Photo" height="100" />@firstGood.Good.GoodName</td>

            <td>@firstGood.Good.SellingPrice</td>
            <td width="10%">
                <div class="input-group">
                    <span class="input-group-addon">-</span>
                    <input type="text" value="@count" class="form-control" />
                    <span class="input-group-addon">+</span>
                </div>
            </td>
            <td>
                <div id="@price@firstGood.GoodID">
                    @{
                        var GoodPrice = count * firstGood.Good.SellingPrice;
                    }
                    @GoodPrice
                </div>
            </td>
            <td>
                <a href="#" class="btn btn-danger">删除</a>
            </td>
        </tr>
    }
</table>
<div class="row">
    <div class="text-right">
        总价：<span class="text-danger">￥XX</span>&nbsp;<a href="#" class="btn btn-danger btn-lg">去结算</a>
    </div>
</div>