USE [master]
GO
/****** Object:  Database [GameShopping]    Script Date: 2020/5/13 8:58:55 ******/
CREATE DATABASE [GameShopping]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GameShopping', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\GameShopping.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'GameShopping_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\GameShopping_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GameShopping].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GameShopping]
GO
/****** Object:  Table [dbo].[Good]    Script Date: 2020/5/13 8:58:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Good](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GoodName] [nvarchar](100) NULL,
	[CostPrice] [money] NULL,
	[SellingPrice] [money] NULL,
	[Photo] [nvarchar](50) NULL,
	[TypeID] [int] NULL,
 CONSTRAINT [PK_Good] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Heroes]    Script Date: 2020/5/13 8:58:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Heroes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Photo] [nvarchar](50) NULL,
	[Q_Coin] [int] NOT NULL,
	[Weixin] [money] NOT NULL,
 CONSTRAINT [PK_Heroes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Order]    Script Date: 2020/5/13 8:58:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DateTime] [date] NULL,
	[TotalPrice] [money] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 2020/5/13 8:58:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GoodID] [int] NULL,
	[OrderID] [int] NULL,
	[Num] [int] NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ShopCar]    Script Date: 2020/5/13 8:58:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShopCar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GoodID] [int] NULL,
 CONSTRAINT [PK_ShopCar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Type]    Script Date: 2020/5/13 8:58:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](50) NULL,
	[PID] [int] NULL,
 CONSTRAINT [PK_Type] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Good] ON 

INSERT [dbo].[Good] ([Id], [GoodName], [CostPrice], [SellingPrice], [Photo], [TypeID]) VALUES (1, N'帝王蟹4.4-4.0斤智利进口鲜活熟冻海鲜水产大螃蟹皇帝蟹帝皇蟹

', 600.0000, 489.0000, N'd1.jpg', 16)
INSERT [dbo].[Good] ([Id], [GoodName], [CostPrice], [SellingPrice], [Photo], [TypeID]) VALUES (2, N'冷冻帝王蟹海鲜水产鲜活进口10超特大龙虾面包珍宝皇帝螃蟹6.5斤

', 828.0000, 628.0000, N'd2.jpg', 16)
INSERT [dbo].[Good] ([Id], [GoodName], [CostPrice], [SellingPrice], [Photo], [TypeID]) VALUES (3, N'如意三宝内蒙古羔羊肋排战斧法式羊排', 338.0000, 138.0000, N'y1.jpg', 7)
SET IDENTITY_INSERT [dbo].[Good] OFF
SET IDENTITY_INSERT [dbo].[Heroes] ON 

INSERT [dbo].[Heroes] ([Id], [Name], [Photo], [Q_Coin], [Weixin]) VALUES (1, N'万豪', N'1.jpg', 45, 43.6500)
INSERT [dbo].[Heroes] ([Id], [Name], [Photo], [Q_Coin], [Weixin]) VALUES (1002, N'张三1', N'98.jpg', 131, 4501.0000)
INSERT [dbo].[Heroes] ([Id], [Name], [Photo], [Q_Coin], [Weixin]) VALUES (1004, N'刘颖康', N'8504472a202686da4fe4f54ed437d570.jpg', 2, 100000000.0000)
SET IDENTITY_INSERT [dbo].[Heroes] OFF
SET IDENTITY_INSERT [dbo].[ShopCar] ON 

INSERT [dbo].[ShopCar] ([Id], [GoodID]) VALUES (1, 1)
INSERT [dbo].[ShopCar] ([Id], [GoodID]) VALUES (2, 2)
INSERT [dbo].[ShopCar] ([Id], [GoodID]) VALUES (3, 3)
SET IDENTITY_INSERT [dbo].[ShopCar] OFF
SET IDENTITY_INSERT [dbo].[Type] ON 

INSERT [dbo].[Type] ([ID], [TypeName], [PID]) VALUES (1, N'海鲜水产', NULL)
INSERT [dbo].[Type] ([ID], [TypeName], [PID]) VALUES (2, N'大闸蟹', 1)
INSERT [dbo].[Type] ([ID], [TypeName], [PID]) VALUES (3, N'秋刀鱼', 1)
SET IDENTITY_INSERT [dbo].[Type] OFF
ALTER TABLE [dbo].[Good]  WITH CHECK ADD  CONSTRAINT [FK_Good_Type] FOREIGN KEY([TypeID])
REFERENCES [dbo].[Type] ([ID])
GO
ALTER TABLE [dbo].[Good] CHECK CONSTRAINT [FK_Good_Type]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Good] FOREIGN KEY([GoodID])
REFERENCES [dbo].[Good] ([Id])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Good]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([Id])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[ShopCar]  WITH CHECK ADD  CONSTRAINT [FK_ShopCar_Good] FOREIGN KEY([GoodID])
REFERENCES [dbo].[Good] ([Id])
GO
ALTER TABLE [dbo].[ShopCar] CHECK CONSTRAINT [FK_ShopCar_Good]
GO
ALTER TABLE [dbo].[Type]  WITH CHECK ADD  CONSTRAINT [FK_Type_Type] FOREIGN KEY([PID])
REFERENCES [dbo].[Type] ([ID])
GO
ALTER TABLE [dbo].[Type] CHECK CONSTRAINT [FK_Type_Type]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Heroes', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'名字' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Heroes', @level2type=N'COLUMN',@level2name=N'Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'图片' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Heroes', @level2type=N'COLUMN',@level2name=N'Photo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Q币' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Heroes', @level2type=N'COLUMN',@level2name=N'Q_Coin'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'微信' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Heroes', @level2type=N'COLUMN',@level2name=N'Weixin'
GO
USE [master]
GO
