
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>登录界面</title>
    <link href="~/Content/component.css" rel="stylesheet" />
    <link href="~/Content/demo.css" rel="stylesheet" />
    <link href="~/Content/normalize.css" rel="stylesheet" />
</head>
<body>
    <div class="container demo-1">
        <div class="content">
            <div id="large-header" class="large-header" style="width: 100%;height: 1024px;">
                <canvas id="demo-canvas"></canvas>
                <div class="logo_box">
                    <h3>欢迎你</h3>
                    <form action="/Login/Index" name="f" method="post">
                        <div class="input_outer">
                            <span class="u_user"></span>
                            <input name="Name" class="text" style="color: #FFFFFF !important" type="text" placeholder="请输入账户">
                        </div>
                        <div class="input_outer">
                            <span class="us_uer"></span>
                            <input name="Pwd" class="text" style="color: #FFFFFF !important; position:absolute; z-index:100;" value="" type="password" placeholder="请输入密码">
                        </div>
                        <div class="mb2">
                            <input type="submit" class="act-but submit" style="color: #FFFFFF;width: 100%;border: #0096e6;" value="登录" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div><!-- /container -->
</body>
</html>