
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>新增</title>
</head>
<body>
    <div>
        <h2>新增英雄</h2>
        <form action="Add" method="post" enctype="multipart/form-data">
            <label>名称：</label>
            <input type="text" name="Name" /> <br />
            <label>图片：</label>
            <input type="file" name="Photo" /> <br />
            <label>Q币：</label>
            <input type="text" name="Q_Coin" /> <br />
            <label>微信：</label>
            <input type="text" name="Weixin" /> <br />
            <input type="submit" value="提交" />
        </form>
    </div>
</body>
</html>
